* {
    box-sizing: border-box;
}

.coins-body {
    /* background: rgb(26, 28, 28); */
}

.coin-title {
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    width: 100%;
}

.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    margin-top: 40px;
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 60px;
    width: 80%;
    border-radius: 1px;
}

.coin-img {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 6px;
    left: 1px;
}

.coin {
    height: 30px;
    width: 120px;
    color: #d7d7d7;
    margin-left: auto;
    margin-right: 56px;
}
