/* .dashboard-title { 
    text-align: center;
    margin-top: 20px;
    width: 100%;
} */

main { 
    display: flex;
    flex-direction: row;
    background-color: black;
    background-size: cover;
    height: 100vh;
}

.section-container-dashboard {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: start;
    background-image: linear-gradient(to bottom, #243243, #1f2833, #101010);
    height: 100vh;
}

small { 
    color: #45A29E;
    margin-bottom: 30px;
    height: 30px;
    font-size: 20px;
}

#input-amount {
    border: none;
    border-bottom: 5px solid #66fcf1;
    outline: none;
    padding: 15px;
    margin-bottom: 20px;
    width: 170px;
    border-radius: 1px;
    background-color: #1f2833;
    margin-top: 20px;
    color: #66fcf1;
    width: 220px;
    height: 55px;
    border-radius: 4px;
}

.table {
    width: 75%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 160px;
    background: black;
    height: 70vh;
}

thead {
    border: 4px solid rgb(0, 0, 0);
    height: 1px;
}

tr {
    border: 3px solid rgb(0, 0, 0);
}

td {
    width: 70px;
    height: 50px;
    border: 0.5px solid rgb(184, 182, 182);
    outline: none;
    background-color: rgb(58, 52, 52);
    color: whitesmoke;
    padding: 0;
    margin: 0;
    text-align: center;
}

th {
    background-color: #727070;
    color: white;
    padding: 0;
    margin: 0;
    
}

.amount-text {
    margin-top: 20px;
    margin-left: 12px;
}

.account-type { 
    background: none;
    border: 1px solid #66fcf1;
    color: #c5c6c7;
    padding: 10px;
    width: 220px;
    height: 50px;
    margin-left: 12px;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 1s;
    margin-top: 10px;
}

.account-type:hover { 
    background-color: #45A29E;
    margin-bottom: 3px;
}

.create-account {
    color: #c5c6c7;
    border: 1px solid #66fcf1;
    background: none;
    outline: none;
    padding: 10px;
    margin-left: 50px;
    width: 220px;
    height: 40px;
    margin-top: 17px;
    background-color: #45A29E;
    transition: ease-in 1s;
    color: #0b0c10;
    margin-bottom: 30px;
}

.create-account:hover {
    background-image: linear-gradient(to bottom, #45A29E, #00dbeb);
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}

/* you should use metrlize for this */

.create-view {
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    margin-left: 50px;
    width: 250px;
    height: 40px;
    margin-top: 17px;
    background-image: linear-gradient(to right, #45A29E, #030b0c);
    transition: ease-in 2s;
}

.create-view:hover {
    background-image: linear-gradient(to right, #030b0c, #45A29E);
    border: 1px solid black;
}

.amount-input {
    margin-top: 2px;
}

.chose-type {
    color: #c5c6c7;
    border: 1px solid #66fcf1;
    background: none;
    outline: none;
    padding: 10px;
    margin-left: 50px;
    width: 220px;
    height: 40px;
    margin-top: 17px;
    background-color: #45A29E;
    transition: ease-in 1s;
    color: #0b0c10;
    margin-bottom: 30px;
}

.add-transaction {
    color: #c5c6c7;
    border: 1px solid #66fcf1;
    background: none;
    outline: none;
    padding: 10px;
    margin-left: 50px;
    width: 220px;
    height: 40px;
    margin-top: 17px;
    background-color: #45A29E;
    transition: ease-in 2s;
    color: #0b0c10;
    margin-bottom: 30px;
}

.add-transaction:hover {
    background-image: linear-gradient(to bottom, #45A29E, #00dbeb);
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}