* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section { 
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(
        to top right, 
        rgb(255, 255, 255) 0%,
        hwb(0 100% 0%) 5%,
        rgb(251, 251, 251) 20%,
        rgb(255, 255, 255) 40%
    );
    height: 100vh;
}

.container { 
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.picture { 
    width: 58%;
    background: linear-gradient(rgba(37, 237, 255, 0.3), rgba(255, 0, 0, 0.3)), url(./wp4316542.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

/* over lay */
.picture:before { 
    background-image: linear-gradient(255deg,#e91e63,#03a9f4);
    mix-blend-mode: screen;
    z-index: 1;
}

h1 { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 420;
    font-size: 34px;
    margin-bottom: 15px;
    margin-right: 170px;
}

h5 { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 420;
    color: rgb(154, 154, 154);
    opacity: .7;
    font-size: 15px;
    margin-bottom: 20px;
}

.form-group { 
    position: relative;
    width: 350px;
    margin-bottom: 45px;
    margin-right: 55px;
    margin-top: 13px;
}

.form-group input { 
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(167, 167, 167, 0.95);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    color: black;
    font-size: 1em;
}

.form-group  span { 
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(156, 156, 156, 0.95);
    /* text-transform: uppercase; */
    transition: 1s;
}

.form-group input:valid ~ span, 
.form-group input:focus ~ span
{
    color: #000000;
    transform: translateX(10px) translateY(-7px);
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid #acacac;
    border-right: 2px solid #afafaf;
    letter-spacing: 0.2em;

}

.login-button { 
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 10px;
    width: 280px;
    background-color: rgb(240, 50, 130);
    outline: none;
    border: 1px solid rgb(213, 41, 113);
    border-radius: 20px;
    margin-left: 40px;
}

.mobile-class {
    position: absolute;
    visibility: hidden;
}

.line-conatiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    margin-top: 30px;
}

.line {
    width: 100px;
    border-bottom: 3px solid rgb(107, 107, 107);
    border-radius: 12px;
}

.line-content {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-outline-info {
    width: 250px;
    height: 60px;
    margin-left: 60px;
    margin-top: 35px;
    border: 1px solid rgba(grey, grey, grey, 0.9);
    outline: none;
    background-color: rgb(255, 255, 255);
    background-color: #ffffff;
    box-shadow: 10px 5px 5px gray;
}

.btn-outline-info > a {
    width: 220px;
    height: 80px;
    /* margin-left: 60px; */
    /* margin-top: 35px; */
    border: none;
    outline: none;
    color: #545050;
    position: relative;
    bottom: 5px;

}

img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 9px;
    left: 4px;
}


@media only screen and (max-width: 960px) { 

    section { 
        background: linear-gradient(rgba(37, 237, 255, 0.3), rgba(255, 0, 0, 0.3)), url(./wp4316542.webp);
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 { 
        color: #161616;
    }

    .picture { 
        width: 1%;
        height: 1%;
        background: none;
    }

    .container { 
        background-color: rgba(255, 255, 255, 0.9);
        margin-bottom: 120px;
        border-radius: 4px;
        padding: 50px;
        padding-left: auto;
        width: 80%;
    }

    .form-group { 
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    
    .form-group input:valid ~ span, 
    .form-group input:focus ~ span
    {
        color: #000000;
        transform: translateX(10px) translateY(-7px);
        padding: 0 10px;
        background-color: rgb(255, 255, 255);
        border-left: 2px solid #acacac;
        border-right: 2px solid #afafaf;
        letter-spacing: 0.2em;
    }
}