.pass {
    color: rgb(198, 193, 193);
    text-align: center;
    width: 100%;
}

.change-password {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 500px;
    height: 500px;
    padding: 40px;
    box-shadow: 0 10px 30px white;
    border-bottom: 4px solid rgb(173, 161, 161);
    border-radius: 10px;
}

.change-password input[type='password'] {
    width: 100%;
    padding: 10px;
    color: gray;
    background: transparent;
    border-bottom: 4px solid gray;
    border-radius: 2px;
    margin-bottom: 10px;
    outline: none;
    /* box-shadow: 2px 2px 15px rgb(181, 182, 182); */
}

.password-button {
    background: black;
    width: 70%;
    position: relative;
    top: 40px;
    left: 20px;
    border: none;
    transition: 1s ease-out;
}

.password-button:hover {
    background: linear-gradient(90deg, gray, black);
}


