.register-section { 
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #2d4cc5, #ff00CC);
    background-size: cover;
    height: 93.5vh;
}

.container-1 {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    height: 540px;
    margin-top: 100px;
    z-index: 1;
}

.container-1::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    z-index: -1;
    transform: rotate(-4deg);
    height: 540px;
    margin-top: 20px;
    width: 640px;
}

.title-register {
    text-align: center;
    margin-right: auto;
}

.container-1 input[type='text'],
.container-1 input[type='password'] {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
    margin-left: 40px;
}


.register-button { 
    background-color: black;
    color: white;
    width: 70%;
    border-radius: 120px;
    border: none;
    outline: none;
    padding: 12px;
}

.form-register { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-register-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-register-0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-left: 40px;
    color: rgba(0, 0, 0, 0.6);
}