{% extends 'sdr_financial/base.html' %}
{% block tile%} Profile Page{% endblock title%}
{% block content %}

<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="small mb-1">Name:</label>
                        {{ user_form.username }}
                    <label class="small mb-1">Email:</label>
                        {{ user_form.email }}
                </div>
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
        <button type="reset" class="btn btn-dark btn-lg">Reset</button>
    </form>
</div>
{% endblock content %}