<nav>
  <li>
    <div class="logo">RIDANSO</div>
  </li>
  <ul>
    {% if user.is_authenticated %}
    <li><a href={% url 'logout' %}>Logout</a></li>
    {% else %}
    <li><a href={% url 'login' %}>Login</a></li>
    {% endif %}
  </ul>
  <button class="hamburger">
    <div class="bar"></div>
  </button>

</nav>
<nav class="mobile-class">
  <a href="">first</a>
  <a href="">second</a>
  <a href="">third</a>
</nav>

<script>
  const hamEl = document.querySelector('.hamburger')
  const mobilEl = document.querySelector('.mobile-class')

  hamEl.addEventListener('click', function () {
    console.log('hello with si work')
    hamEl.classList.toggle('is-active')
    mobilEl.classList.toggle('is-active')
  })
</script>
