<!-- component -->
<div class="white">
    <div class=" m-auto px-6 mt-8 text-gray-600 md:px-12 xl:px-6">
        <h2 class="mb-12 text-center text-2xl text-gray-400 font-bold md:text-4xl">What's our customers say</h2>
        <div class="grid gap-8 md:grid-rows-2 lg:grid-cols-2">
            <div class="row-span-2 p-6 border text-white bg-gray-900 border-gray-100 rounded-xl bg-gray-900 text-center sm:p-8">
                <div class="h-full flex flex-col justify-center space-y-4">
                    <img class="w-20 h-20 mx-auto rounded-full" style= "position: relative; left: 1px;"
                        src="https://tailus.io/sources/blocks/grid-cards/preview/images/avatars/second_user.webp"
                        alt="user avatar" height="220" width="220" loading="lazy">
                    <p class="text-gray-400 md:text-xl"> <span class="font-serif">"</span> RIDANSO Bank is a one-stop shop for online-only banking customers from coast to coast. It offers a competitive yield on its savings account, money market account and its CDs. It is a part of a large fee-free ATM network and its checking account reimburses $10 worth of out-of-network ATM fees each statement period.. <span class="font-serif">"</span></p>
                    <div>
                        <h6 class="text-lg font-semibold leading-none">Stacy Garner</h6>
                        <span class="text-xs text-gray-500">Product Designer</span>
                    </div>
                </div>
            </div>

            <div class="p-6 border border-gray-100 rounded-xl text-white bg-gray-900 sm:flex sm:space-x-8 sm:p-8">
                <img class="w-20 h-20 mx-auto rounded-full" style= "position: relative; left: 1px;"
                    src="https://tailus.io/sources/blocks/grid-cards/preview/images/avatars/first_user.webp"
                    alt="user avatar" height="220" width="220" loading="lazy">
                <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
                    <p class="text-gray-600"> <span class="font-serif">"</span> RIDANSO Bank is an online institution offering deposit accounts with competitive rates and low minimum balances, and customers have access to thousands of fee-free ATMs. While the bank maintains branches, only a limited number are available and just in Florida.<span class="font-serif">"</span></p>
                    <div>
                        <h6 class="text-lg font-semibold leading-none">Michael Siller</h6>
                        <span class="text-xs text-gray-500">Product Designer</span>
                    </div>
                </div>
            </div>
            <div class="p-6 border border-gray-100 rounded-xl text-white bg-gray-900 sm:flex sm:space-x-8 sm:p-8">
                <img class="w-20 h-20 mx-auto rounded-full" style= "position: relative; left: 1px;"
                    src="https://tailus.io/sources/blocks/grid-cards/preview/images/avatars/third_user.webp"
                    alt="user avatar" height="220" width="220" loading="lazy">
                <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
                    <p class="text-gray-600"> <span class="font-serif">"</span>RIDANSO Banks is an NCUA-insured bank based in Chicago that offers deposit accounts with competitive APYs and minimal fees. It offers a highly rated mobile app as well as access to a wide network of surcharge-free ATMs.<span class="font-serif">"</span></p>
                    <div>
                        <h6 class="text-lg font-semibold leading-none">Scott Riddley</h6>
                        <span class="text-xs text-gray-500">Product Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
