{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<h1 class="dashboard-title">Dashboard</h1>
{% comment %} Create Bank Account Form{% endcomment %}
{% comment %} This should be far left {% endcomment %}

<main>

<section class="section-container-dashboard">
    <div>
        <form action={% url 'new_bank_account' %} method="post">
            {% csrf_token %}
            <div class="amount-text">
                <p class="amount-text"><small>Minimum $500 required to open account</small></p>
                <input type="number" name="balance" id="input-amount" placeholder="Input:" class="validate">
            </div>
            <div>
                <select required name='type' class="account-type">
                    <option disabled selected value>Choose account type</option>
                    <option value='C'>Checkings</option>
                    <option value='S'>Savings</option>
                </select>
            </div>
            <div >
                <button type="submit" class="create-account">Create Account</button>
            </div>
        </form>
    </div>
    {% comment %} Chose Which account to be displayed in table {% endcomment %}
    {% comment %} This should be in the center {% endcomment %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <div>
                <select name="account" id="" class="account-type">
                    <option disabled selected value>Choose account to view</option>
                    {% for account in accounts %}
                    <option value="{{account.id}}">{{account.get_type_display}} - {{account.number|slice:"-5:"}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="create-view">View</button>
        </form>
    </div>
    {% comment %} This Should be all the way to the right. Object will be called display_account {% endcomment %}
    <div>

    </div>
    {% if account %}
    <p>{{account.number}}</p>
    <div>
        <form action={% url 'add_transaction' %} method="POST">
            {% csrf_token %}
            <input type="hidden" name="account" value={{account.id}}>
            <div class="amount-text">
                <!-- <label for="description">Description</label> -->
                <input type="text" name="description" id="input-amount" placeholder="Description" class="amount-input">
            </div>
            <div class="amount-text">
                <!-- <label required for="amount">Amount</label> -->
                <input type="number" name="amount" id="input-amount" placeholder="Amount" class="amount-input">
            </div>
            <div>
                <select required name='type' class="chose-type">
                    <option disabled selected value>Chose a type</option>
                    <option value='W'>Withdraw</option>
                    <option value='D'>Deposit</option>
                    <option value='P'>Purchase</option>
                </select>
            </div>
            <div>
                <label for="start">Start date:</label>
                <input type="date" id="start" name="date"  min="2018-01-01" >
            </div>
            <div>
                <p><small>This will add a transaction to </small></p>
                <input type="submit" value="Add transaction" class="add-transaction">
            </div>
        </form>
    </div>
    
</section>
<section class="table">
    <table class="transaction-table" border="0" cellspacing="0">
    {% for transaction in transactions %}
        {% comment %}
        <tr>
            <td>
                Ill be adding the table later on
                <li>hello</li>
            </td>
        </tr>
        {% endcomment %}
        
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>{{transaction.amount}}</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
            </tr>
            </tbody>
        </table>
</section>  
{% endfor %}
{% endif %}
{% endblock content %}
