{% extends 'base.html' %}
{% load humanize %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="bg-slate-200 grid grid-cols-4 gap-x-4 place-content-center ">
    <form action={% url 'new_bank_account' %} method="post">
        <div class="md:flex flex-col space-y-4 ml-2 content-center">
            <h3 class="text-[23px] text-gray-500">Open a New account</h3>
            {% csrf_token %}
            <div class="">
                <input type="number" name="balance" placeholder="How much are you depositing:"
                    class="validate rounded-full p-2 outline outline-blue-300 outline-1 w-[60%]">
                <p ><small class="text-gray-600 text-[12px]">Minimum $500 required to open account</small></p>
            </div>
            <div>
                <select required name='type' class=" w-[60%] rounded-full p-2 outline outline-blue-300 outline-1">
                    <option disabled selected value>Choose account type</option>
                    <option value='C'>Checkings</option>
                    <option value='S'>Savings</option>
                </select>
            </div>
            <div class="">
                <button type="submit" class=" bg-blue-400 p-2 text-gray-200  my-2 w-[60%] rounded-full">Create
                    Account</button>
            </div>
        </div>
    </form>
    {% if accounts %}
    <form method="POST">
        <h3 class="text-[23px] text-gray-500">Which account to view</h3>
        {% csrf_token %}
        <div class="md:flex flex-col space-y-4 ml-2">
            <select name="account" id=""
                class="rounded-full p-2 outline w-[45%] outline-blue-300 outline-1">
                <option disabled selected value>Choose account to view</option>
                {% for account in accounts %}
                <option value="{{account.id}}">{{account.get_type_display}} - {{account.number|slice:"-5:"}}</option>
                {% endfor %}
            </select>
            <div>
                <button type="submit"
                    class="  bg-blue-400 p-2 text-gray-200 w-[45%] rounded-full">View</button>
            </div>
        </div>
    </form>
    <form action={% url 'add_transaction' %} method="POST">
        <h3 class="text-[23px] text-gray-500">Add Transaction to{{account.get_type_display}} - {{account.number|slice:"-5:"}} </h3>
        {% csrf_token %}
        <input type="hidden" name="account" value={{account.id}}>
        <div class="">
            <!-- <label for="description">Description</label> -->
            <input type="text" name="description"  placeholder="Description" class="rounded-full p-2 outline outline-blue-300 outline-1 w-[60%]">
        </div>
        <div class="">
            <!-- <label required for=""></label> -->
            <input type="number" name=""  placeholder="" class=" rounded-full p-2 my-2 outline outline-blue-300 outline-1 w-[60%]">
        </div>
        <div>
            <select required name='type' class="    w-[60%] rounded-full p-2 outline outline-blue-300 outline-1">
                <option disabled selected value>Chose a type</option>
                <option value='W'>Withdraw</option>
                <option value='D'>Deposit</option>
                <option value='P'>Purchase</option>
            </select>
        </div>
        <div>
            <label for="start">Start date:</label>
            <input inline-datepicker type="date" id="start" name="date" min="2018-01-01" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block p-2  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[60%]" placeholder="Select date">
        </div>
        <div>
            <button type="submit"
                class=" bg-blue-400 p-2 text-gray-200 w-[45%] my-2 rounded-full">Add</button>
                <p><small class="">This will add a transaction to {{account.number|slice:"-5:"}} </small></p>
        </div>
        <div>
        </div>
    </form>
    <div class="flex items-start ">
        <div
            class="outline w-[90%]  bg-gray-100 mt-4 px-4 flex flex-col space-y-6 rounded-xl outline-gray-400 outline-1 py-1">
            <h1 class="text-[22px] font-black text-gray-500">Account Details</h1>
            <h3 class="text-[19px]">Balance: <span class="text-green-600"> ${{account.balance|intcomma }}</span></h3>
            <h3>Number: {{account.number}}</h3>
            <h3>Type: {{account.get_type_display}}</h3>
            <h3>Opened On: {{account.created_at}}</h3>
        </div>
    </div>
    {% endif %}
</div>
<div>
    {% if  transactions %}
    {% include "transactions.html" with transactions=transactions %}
    {% else %}
    <div>
        <h2 class="text-center tex-[23px]">No Transactions as yet</h2>
    </div>
    {% endif %}
</div>

{% endblock content %}
