{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<h1>Dashboard</h1>
{% comment %} create an account {% endcomment %}
<div>
    <form action={% url 'new_bank_account' %} method="post">
        {% csrf_token %}
        <input type="number" name="balance" id="">
        <select required name='type'>
            <option disabled selected value>Choose account type</option>
            <option value='C'>Checkings</option>
            <option value='S'>Savings</option>
          </select>
        <span><small>Minimum $500 required to open accunt</small></span>
        <button type="submit">Create Account</button>
    </form>
</div>

{% endblock content %}
